# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Grad-CAM outputs
artifacts/gradcam/

# Training datasets
data/raw/
data/processed/
data/splits/
